body {
    background-color: #DEDEDE;
    margin-top: 0px;
}

.divForm {
    margin: 300px auto 10px auto;
    width: 450px;
}

.divAfterSubmit {
    margin: 50px auto 10px auto;
}

#input {
    width: 450px;
}

#results {
    display: none;
}